@media(max-width: 1400px){
    .feedback {
        flex-wrap: wrap;
    }

    .feedback .comentario{
        max-width: 360px
    }

    .imagem-secundaria{
        flex-wrap: wrap;
    }

    .imagem-secundaria .mantenha-se-produtivo{
        margin-bottom: 80px;
    }
}

@media(max-width: 1000px){
    .email{
      max-width: 700px;  
    }
}

@media(max-width: 1200px){
    .rodape .contatos{
        flex-direction: column;
        row-gap: 30px;
}
.contatos .social{
   margin: 0 auto;
    
}



}
